<div class="loader-background">
  <div class="loader-background-icon">
    <img
      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/loader.png"
    />
  </div>
</div>

<div class="rotate">
  <div class="rotate-wrapper">
    <div class="rotate-icon">
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/rotate.svg"
      />
    </div>
    <div class="rotate-text">Переверните телефон</div>
  </div>
</div>

<div class="steps">
  <div class="screen start-screen ube-screen-start" style="display: none">
    <div class="start-wrapper wrapper">
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/start-background-1.jpg"
        class="start-background"
      />
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/start-background-2.jpg"
        class="start-background start-background-2"
      />
      <div class="start-top">
        <div class="start-header">
          <div class="start-title">
            Спасибо<br />
            за ваш выбор!
          </div>
          <div class="start-text">
            Получите новогоднее<br />
            пожелание от Parliament
          </div>
        </div>
        <div class="start-price">
          <div class="start-price-block">
            <div class="start-price-num">259 ₽</div>
            <div class="start-price-text">
              на телефон<br />
              за регистрацию*
            </div>
          </div>
        </div>
      </div>
      <div class="start-middle">
        <div class="start-image">
          <div class="start-image-block">
            <img
              src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/start-image.png"
            />
          </div>
        </div>
        <div class="start-content">
          <div class="start-photo">
            <div class="start-photo-image">
              <img
                src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/start-photo.svg"
              />
            </div>
            <div class="start-photo-text">
              <p>
                Нам необходимо ваше фото, чтобы убедиться, что вам есть 18 лет.
                Мы —табачная компания, и наш контент доступен только
                совершеннолетним курильщикам, постоянно проживающим
                на территории РФ.
              </p>
              <p>Не волнуйтесь, мы не сохраняем ваше фото.</p>
            </div>
          </div>
          <div class="start-button">
            <button type="button">Подтвердить возраст</button>
          </div>
        </div>
      </div>
      <div class="start-buttom">
        <div class="start-noty">
          <p>
            *Подтверждение возраста и первичная регистрация в базу данных
            совершеннолетних курильщиков ООО «ФМСМ»
          </p>
          <p>
            Курение табачной продукции вызывает серьезные заболевания и
            зависимость.
            <a
              href="https://www.pmi.com/resources/docs/default-source/russia-market/%D0%B2%D0%BB%D0%B8%D1%8F%D0%BD%D0%B8%D0%B5-%D0%BA%D1%83%D1%80%D0%B5%D0%BD%D0%B8%D1%8F-%D1%82%D0%B0%D0%B1%D0%B0%D0%BA%D0%B0-%D0%BD%D0%B0-%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%BC.pdf?sfvrsn=d8362ab7_2"
              target="_blank"
              >Риски, связанные со здоровьем</a
            >
          </p>
          <div class="start-noty-background">
            <div class="start-noty-shadow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="screen screen-content" style="display: none">
    <div class="welcome">
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-background.jpg"
        class="welcome-background"
      />
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-background-pattern.jpg"
        class="welcome-background-pattern"
      />
      <div class="welcome-slides">
        <div class="welcome-slide-start">
          <div class="welcome-start-header">
            <div class="welcome-start-title">
              Новогоднее пожелание<br />
              от Parliament
            </div>
            <div class="welcome-start-button">
              <button type="button">Получить пожелание</button>
            </div>
          </div>
          <div class="welcome-start-footer">
            <div class="welcome-start-ball">
              <img
                src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-start-ball.png"
                class="welcome-start-ball-img"
              />
              <div class="welcome-start-ball-content">
                <div class="welcome-start-ball-title">
                  Magic<br />
                  Wishes
                </div>
                <div class="welcome-start-ball-noty">*Волшебные пожелания</div>
              </div>
            </div>
          </div>
        </div>
        <div class="welcome-slide-balls">
          <div class="welcome-balls-header">
            <div class="welcome-balls-title">
              Новогоднее пожелание<br />
              от Parliament
            </div>
            <div class="welcome-balls-line"></div>
            <div class="welcome-balls-text">
              Нажмите на любой шар и получите<br />
              пожелание
            </div>
          </div>
          <div class="welcome-balls-body">
            <div class="welcome-balls">
              <div class="welcome-ball welcome-ball-1">
                <div class="welcome-ball-image">
                  <img
                    src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball.png"
                  />
                </div>
                <div class="welcome-ball-wrapper">
                  <div class="welcome-ball-shadow">
                    <img
                      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball-shadow.png"
                    />
                  </div>
                  <div class="welcome-ball-text"></div>
                </div>
              </div>
              <div class="welcome-ball welcome-ball-2">
                <div class="welcome-ball-image">
                  <img
                    src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball.png"
                  />
                </div>
                <div class="welcome-ball-wrapper">
                  <div class="welcome-ball-shadow">
                    <img
                      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball-shadow.png"
                    />
                  </div>
                  <div class="welcome-ball-text"></div>
                </div>
              </div>
              <div class="welcome-ball welcome-ball-3">
                <div class="welcome-ball-image">
                  <img
                    src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball.png"
                  />
                </div>
                <div class="welcome-ball-wrapper">
                  <div class="welcome-ball-shadow">
                    <img
                      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball-shadow.png"
                    />
                  </div>
                  <div class="welcome-ball-text"></div>
                </div>
              </div>
              <div class="welcome-ball welcome-ball-4">
                <div class="welcome-ball-image">
                  <img
                    src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball.png"
                  />
                </div>
                <div class="welcome-ball-wrapper">
                  <div class="welcome-ball-shadow">
                    <img
                      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball-shadow.png"
                    />
                  </div>
                  <div class="welcome-ball-text"></div>
                </div>
              </div>
              <div class="welcome-ball welcome-ball-5">
                <div class="welcome-ball-image">
                  <img
                    src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball.png"
                  />
                </div>
                <div class="welcome-ball-wrapper">
                  <div class="welcome-ball-shadow">
                    <img
                      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/welcome-ball-shadow.png"
                    />
                  </div>
                  <div class="welcome-ball-text"></div>
                </div>
              </div>
            </div>
            <div class="welcome-balls-panel">
              <button type="button" class="welcome-balls-btn-each">
                Получить еще пожелание
              </button>
              <button type="button" class="welcome-balls-btn-compliment">
                Вам — комплимент!
              </button>
            </div>
          </div>
        </div>
      </div>
      <img src="" class="welcome-snow" loop="1" />
    </div>
    <div class="final" style="display: none">
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/start-background-2.jpg"
        class="final-background"
      />
      <div class="final-content">
        <div class="final-title">
          Пусть все сбудется<br />
          и будет только<br />
          хорошее
        </div>
        <div class="final-text">
          Вам — комплимент от Parliament.<br />
          Обои на телефон, вдохновленные<br />
          зимним настроением
        </div>
        <div class="final-reg-text">
          Пройти процесс регистрации<br />
          и получить 259 рублей на телефон*<br />
          и комплимент
        </div>
        <div class="final-buttons final-buttons-reg">
          <button type="button" class="go-reg">Регистрация на сайте</button>
          <button type="button" class="go-tg">Регистрация в Telegram</button>
        </div>
        <div class="final-buttons final-buttons-auth">
          <button type="button" class="go-wallpaper">Скачать на сайте</button>
          <button type="button" class="go-tg">Скачать в Telegram</button>
        </div>
      </div>
      <div class="start-noty">
        <p>
          *Подтверждение возраста и первичная регистрация в базу данных
          совершеннолетних курильщиков ООО «ФМСМ»
        </p>
        <p>
          Курение табачной продукции вызывает серьезные заболевания и
          зависимость.
          <a
            href="https://www.pmi.com/resources/docs/default-source/russia-market/%D0%B2%D0%BB%D0%B8%D1%8F%D0%BD%D0%B8%D0%B5-%D0%BA%D1%83%D1%80%D0%B5%D0%BD%D0%B8%D1%8F-%D1%82%D0%B0%D0%B1%D0%B0%D0%BA%D0%B0-%D0%BD%D0%B0-%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%BC.pdf?sfvrsn=d8362ab7_2"
            target="_blank"
            >Риски, связанные со здоровьем</a
          >
        </p>
        <div class="start-noty-background">
          <div class="start-noty-shadow"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="screen screen-fail" style="display: none">
    <div class="wrapper fail-wrapper">
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/background-2.jpg"
        class="fail-background"
      />
      <div class="fail-content">
        <div class="fail-title">
          Продолжить регистрацию на сайте или перейти в Telegram?
        </div>
        <div class="fail-buttons">
          <div class="fail-button">
            <button type="button" class="fail-reg">Регистрация на сайте</button>
          </div>
          <div class="fail-button">
            <button type="button" class="fail-tg">
              Регистрация в Telegram
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wallpaper" style="display: none">
  <div class="wallpaper-slider">
    <div class="wallpaper-slider-wrapper">
      <div class="wallpaper-slide">
        <img
          src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/slide-1.jpg"
          class="wallpaper-background"
        />
        <div class="wallpaper-content">
          <div class="wallpaper-title">
            <div class="wallpaper-title-shadow"></div>
            Скачайте обои, вдохновленные<br />
            зимним настроением
          </div>
          <div class="wallpaper-download">
            <a
              href="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/1.png"
              target="_blank"
              download
            >
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="wallpaper-nav">
            <div class="wallpaper-nav-prev">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M21 7C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9L21 7ZM0.292893 8.7071C-0.0976311 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928931C7.04738 0.538407 7.68054 0.538407 8.07107 0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.7071ZM21 9L1 9L1 7L21 7L21 9Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="wallpaper-nav-swipe">Листайте, чтобы выбрать обои</div>
            <div class="wallpaper-nav-next">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM21.7071 8.7071C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928931C14.9526 0.538407 14.3195 0.538407 13.9289 0.928931C13.5384 1.31946 13.5384 1.95262 13.9289 2.34314L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.7071ZM1 9L21 9L21 7L1 7L1 9Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="wallpaper-slide">
        <img
          src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/slide-2.jpg"
          class="wallpaper-background"
        />
        <div class="wallpaper-content">
          <div class="wallpaper-title">
            <div class="wallpaper-title-shadow"></div>
            Скачайте обои, вдохновленные<br />
            зимним настроением
          </div>
          <div class="wallpaper-download">
            <a
              href="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/2.png"
              target="_blank"
              download
            >
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="wallpaper-nav">
            <div class="wallpaper-nav-prev">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M21 7C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9L21 7ZM0.292893 8.7071C-0.0976311 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928931C7.04738 0.538407 7.68054 0.538407 8.07107 0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.7071ZM21 9L1 9L1 7L21 7L21 9Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="wallpaper-nav-swipe">Листайте, чтобы выбрать обои</div>
            <div class="wallpaper-nav-next">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM21.7071 8.7071C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928931C14.9526 0.538407 14.3195 0.538407 13.9289 0.928931C13.5384 1.31946 13.5384 1.95262 13.9289 2.34314L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.7071ZM1 9L21 9L21 7L1 7L1 9Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="wallpaper-slide">
        <img
          src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/slide-3.jpg"
          class="wallpaper-background"
        />
        <div class="wallpaper-content">
          <div class="wallpaper-title">
            <div class="wallpaper-title-shadow"></div>
            Скачайте обои, вдохновленные<br />
            зимним настроением
          </div>
          <div class="wallpaper-download">
            <a
              href="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/3.png"
              target="_blank"
              download
            >
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="wallpaper-nav">
            <div class="wallpaper-nav-prev">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M21 7C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9L21 7ZM0.292893 8.7071C-0.0976311 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928931C7.04738 0.538407 7.68054 0.538407 8.07107 0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.7071ZM21 9L1 9L1 7L21 7L21 9Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="wallpaper-nav-swipe">Листайте, чтобы выбрать обои</div>
            <div class="wallpaper-nav-next">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM21.7071 8.7071C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928931C14.9526 0.538407 14.3195 0.538407 13.9289 0.928931C13.5384 1.31946 13.5384 1.95262 13.9289 2.34314L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.7071ZM1 9L21 9L21 7L1 7L1 9Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="wallpaper-slide">
        <img
          src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/slide-4.jpg"
          class="wallpaper-background"
        />
        <div class="wallpaper-content">
          <div class="wallpaper-title">
            <div class="wallpaper-title-shadow"></div>
            Скачайте обои, вдохновленные<br />
            зимним настроением
          </div>
          <div class="wallpaper-download">
            <a
              href="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/4.png"
              target="_blank"
              download
            >
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="wallpaper-nav">
            <div class="wallpaper-nav-prev">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M21 7C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9L21 7ZM0.292893 8.7071C-0.0976311 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928931C7.04738 0.538407 7.68054 0.538407 8.07107 0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.7071ZM21 9L1 9L1 7L21 7L21 9Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="wallpaper-nav-swipe">Листайте, чтобы выбрать обои</div>
            <div class="wallpaper-nav-next">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM21.7071 8.7071C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928931C14.9526 0.538407 14.3195 0.538407 13.9289 0.928931C13.5384 1.31946 13.5384 1.95262 13.9289 2.34314L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.7071ZM1 9L21 9L21 7L1 7L1 9Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="wallpaper-slide">
        <img
          src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/slide-5.jpg"
          class="wallpaper-background"
        />
        <div class="wallpaper-content">
          <div class="wallpaper-title">
            <div class="wallpaper-title-shadow"></div>
            Скачайте обои, вдохновленные<br />
            зимним настроением
          </div>
          <div class="wallpaper-download">
            <a
              href="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper/5.png"
              target="_blank"
              download
            >
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.479 21.479H1.354M18.1248 10.2984L11.4165 17.0068M11.4165 17.0068L4.70817 10.2984M11.4165 17.0068V1.354"
                  stroke="#000079"
                  stroke-width="1.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="wallpaper-nav">
            <div class="wallpaper-nav-prev">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M21 7C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9L21 7ZM0.292893 8.7071C-0.0976311 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928931C7.04738 0.538407 7.68054 0.538407 8.07107 0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.7071ZM21 9L1 9L1 7L21 7L21 9Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="wallpaper-nav-swipe">Листайте, чтобы выбрать обои</div>
            <div class="wallpaper-nav-next">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none">
                <path
                  d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM21.7071 8.7071C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928931C14.9526 0.538407 14.3195 0.538407 13.9289 0.928931C13.5384 1.31946 13.5384 1.95262 13.9289 2.34314L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.7071ZM1 9L21 9L21 7L1 7L1 9Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wallpaper-button">
    <button type="button" class="go-mbep">Перейти на сайт</button>
  </div>
  <div class="wallpaper-eraser">
    <img
      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/wallpaper-eraser-background.jpg"
      class="wallpaper-eraser-background"
    />
    <div class="wallpaper-eraser-content">
      <div class="wallpaper-eraser-title">
        Растопите лед, чтобы<br />
        получить свой<br />
        комплимент
      </div>
      <div class="wallpaper-eraser-text">
        Проводите пальцем<br />
        по экрану
      </div>
    </div>
  </div>
</div>

<div class="screen-auth" style="display: none">
  <div class="auth-background">
    <img
      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/background-1.jpg"
    />
  </div>
  <div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-reg" style="display: none">
        <div class="auth-reg-title">
          Спасибо<br />
          за регистрацию!
        </div>
        <div class="auth-reg-wrapper auth-reg-confirm">
          <div class="auth-reg-text">После успешной проверки документов</div>
          <div class="auth-reg-price"><span>259</span> РУБЛЕЙ</div>
          <div class="auth-reg-info">поступят на ваш мобильный телефон</div>
        </div>
        <div class="auth-reg-wrapper auth-reg-status">
          <div class="auth-reg-text">Cкоро вы получите</div>
          <div class="auth-reg-price"><span>259</span> РУБЛЕЙ</div>
          <div class="auth-reg-info">на ваш мобильный телефон</div>
        </div>
        <div class="auth-reg-noty">
          Пожалуйста, подождите, загрузка<br />
          сайта займет​ несколько секунд
        </div>
      </div>
      <div class="auth-login" style="display: none">
        <div class="auth-login-title">
          Ваш номер телефона<br />
          уже зарегистрирован
        </div>
        <div class="auth-login-text">Приятно видеть вас снова!</div>
      </div>
    </div>
  </div>
</div>

<div class="rules" style="display: none">
  <div class="rules-background">
    <img
      src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/background-1.jpg"
    />
  </div>
  <div class="rules-wrapper">
    <div class="rules-layout promo-rules" style="display: none"></div>
    <div class="rules-layout condition-rules" style="display: none"></div>
    <div class="rules-close">
      <img
        src="/upload/qr_parliament_ru/promo/NY_magic_wishes_2023/images/close.svg"
      />
    </div>
  </div>
</div>
